body{
    background:#f5f5f5;
}
#container{
    max-width:700px;
    margin:0px auto 0px auto;
    background:#fff;
    overflow:hidden;
    padding:100px 0px 100px 0px;
    text-align:center;
}
#top{
    overflow: hidden;
    text-align:center;
}
#top #image{
   overflow:hidden;
 }
#top #image img{
   border:1px solid #d5d5d5;
    width:200px;
    height:200px;
    border-radius:50%;
    background:#282828;
    margin:0px auto 0px auto;
}
#middle .item{
    background:#fff;
    border:1px solid #d5d5d5;
    norder-radius:3px;
}