body{

}
#container{
    max-width:700px;
    margin:0px auto 0px auto;
    background:blueviolet;
    overflow:hidden;
    padding:100px 0px 100px 0px;
}
#top{
    overflow: hidden;
}
#top #image{
    width:200px;
    height:200px;
    border-radius:50%;
    background:#282828;
    margin:0px auto 0px auto;
}